# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# For all websites developed by iPro Systems
/iprosytems/css/theme.css
/iprosytems/css/theme.rtl.css
/iprosytems/css/theme.1.css
/iprosytems/css/theme.1.rtl.css
/iprosystems/includes/custom-meta-tags.php